@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Welcome</h1>
    <br />
    <div class="row">
        <div class="col-md-3">
            <a class="link" href="~/PaySlip/Send">
                <img style="width:200px" height="200px" src="~/assets/items.png" />
                <br />
                <h2 class="mt-4">Upload Pay Slip</h2>
            </a>
        </div>
    </div>



</div>
